*{
    background-color: #303030;
    margin: 0;
    font-family: "inter" ;
    color: #fff;
}
#titulo-menusuperior{
    color: #FFF;
    font-size: 60px;
    font-family: Inter;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.5px;
    margin-left: 50px;
    margin-top: 75px;
}
#texto-menusuperior{
    color: #FFF;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    line-height: 28px; 
    margin-left: 50px;
    margin-top: 10px;
    padding-bottom: 100px ;
}
#menuinfo{
    background: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 50px ;
}
#info{
    background: #F9F9F9;
    margin: 0 auto;
}
#sobre{
background-color: #F5F5F5;
display: grid;
grid-auto-flow: column;
columns: auto;
padding-bottom: 50px;
 
}
#titulo-sobre{
    background-color: #F5F5F5;
    color: #000000 ;
}
#paragrafo-sobre{
    background-color: #F5F5F5;
    color: #000000 ;
}
#img-sobre{
    background-color: #F5F5F5;
    margin:  50px;
    width: 510px;
    height: 605px;
}
#div{
    margin:  250px 50px 50px 150px;
    background-color: #F5F5F5;
}
#formulario{
 text-align: center;
}
#titulo-formulario{
 font-size: 25px;
 margin: 25px;
 color: #FFFFFF;
}
input{
    width: 350px;
    height: 43px;
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 10px;
    padding-left: 15px;
    color: #000000;
}
button{
    width: 200px;
    height: 54px;
    border-radius: 10px;
    background: #C07212;
    color: #FFFFFF;
}
button:hover{
    background-color: #ba6b0b;
    transform: translateY(-3px);
}